/* =============== */
/* SHARED CSS      */
/* =============== */

:root {
    /* Fonts Family */
    --ff-barlow: "Barlow Semi Condensed", sans-serif;

    /* Fonts Weight */
    --fw-regular: 400;
    --fw-bold: 500;

    /* Fonts Size */
    --fs-s: 11px;
    --fs-m: 13px;
    --fs-l: 20px;

    /* Colors */
    --black: #121212;
    --dark-blue: #19202D;
    --white: #FFFFFF;
    --light-grey: #E7EAEE;
    --ash-grey: #CFCFCF;
    --dark-grey: #676D7E;
    --blue-grey: #48556A;
    --light-purple: #EDE4FF;
    --purple: #A775F1;
    --dark-purple: #733FC8;

    /* Spacing */
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 40px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--fs-m);
    font-family: var(--ff-barlow);
    font-weight: var(--fw-regular);
}

h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-bold);
    line-height: 120%;
}

p {
    font-size: var(--fs-m);
    line-height: 140%;
}

img {
    max-width: 100%;
    max-width: 28px;
    max-height: 28px;
    border-radius: 48px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5vh 5vw;
}

/* =============== */
/* CONTAINER SYTLE */
/* =============== */

.container {
    max-width: 375px;
}

/* =============== */
/* FLEX SYTLE      */
/* =============== */

.flex-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
}

/* =============== */
/* CARD SYTLE      */
/* =============== */

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    border: 1px solid black;
    border-radius: 8px;
    padding: var(--spacing-l);
    position: relative;
    font-weight: var(--fw-bold);
}

.card h1 {
    position: relative;
    z-index: 1;
}

.card__head {
    display: flex;
    gap: var(--spacing-xs);
}

.card__profile-name {
    font-weight: var(--fw-bold);
}

.card__status {
    font-size: var(--fs-s);
}

.card__message {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}


/* =============== */
/* CARD THEME     */
/* =============== */

.card--purple {
    --bg-color: var(--dark-purple);
    --text-color: var(--light-purple);
    --profile-name-color: var(--white);
    --status-color: var(--light-purple);
    --message-head-color: var(--white);
    --message-p-color: var(--light-purple);

    background-color: var(--bg-color);
    color: var(--text-color);
}

.card--grey {
    --bg-color: var(--blue-grey);
    --profile-name-color: var(--white);
    --status-color: var(--ash-grey);
    --message-head-color: var(--white);
    --message-p-color: var(--light-grey);

    background-color: var(--bg-color);
    color: var(--text-color);
}

.card--white {
    --bg-color: var(--white);
    --profile-name-color: var(--blue-grey);
    --status-color: var(--dark-grey);
    --message-head-color: var(--blue-grey);
    --message-p-color: var(--dark-grey);

    background-color: var(--bg-color);
    color: var(--text-color);
}

.card--dark-blue {
    --bg-color: var(--dark-blue);
    --profile-name-color: var(--white);
    --status-color: var(--white);
    --message-head-color: var(--ash-grey);
    --message-p-color: var(--light-grey);

    background-color: var(--bg-color);
    color: var(--text-color);
}

/* CARD PURPLE */

.card--purple .card__profile-name {
    color: var(--profile-name-color);
}

.card--purple .card__status {
    color: var(--status-color);
}

.card--purple .card__message-title {
    color: var(--message-head-color);
}

.card--purple .card__message-body {
    color: var(--message-p-color);
}

/* CARD GREY */

.card--grey .card__profile-name {
    color: var(--profile-name-color);
}

.card--grey .card__status {
    color: var(--status-color);
}

.card--grey .card__message-title {
    color: var(--message-head-color);
}

.card--grey .card__message-body {
    color: var(--message-p-color);
}

/* CARD WHITE */

.card--white .card__profile-name {
    color: var(--profile-name-color);
}

.card--white .card__status {
    color: var(--status-color);
}

.card--white .card__message-title {
    color: var(--message-head-color);
}

.card--white .card__message-body {
    color: var(--message-p-color);
}

/* CARD DARK BLUE */

.card--dark-blue .card__profile-name {
    color: var(--profile-name-color);
}

.card--dark-blue .card__status {
    color: var(--status-color);
}

.card--dark-blue .card__message-title {
    color: var(--message-head-color);
}

.card--dark-blue .card__message-body {
    color: var(--message-p-color);
}

/* ================== */
/* CARD MISCELLANEOUS */
/* ================== */

.quotation {
    display: none;
}

.highlight {
    border: 2px solid #A775F1;
}

/* =============== */
/* BREAKPOINT     */
/* =============== */
@media (min-width: 768px) {

    /* CONTAINER STYLE */

    .container {
        max-width: 768px;
    }

    /* GRID STYLE */

    .grid-container {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "alias-card-1 alias-card-1"
            "alias-card-2 alias-card-3"
            "alias-card-4 alias-card-4"
            "alias-card-5 alias-card-5"
        ;
        gap: var(--spacing-l);
    }

    #card-1 {
        grid-area: alias-card-1;
    }

    #card-2 {
        grid-area: alias-card-2;
    }

    #card-3 {
        grid-area: alias-card-3;
    }

    #card-4 {
        grid-area: alias-card-4;
    }

    #card-5 {
        grid-area: alias-card-5;
    }

    /* CARD MISCELLANEOUS */

    .quotation {
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 20%;
    }
}

@media (min-width: 1440px) {

    /* CONTAINER STYLE */

    .container {
        max-width: 1440px;
    }

    /* GRID STYLE */

    .grid-container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "alias-card-1 alias-card-1 alias-card-2 alias-card-5"
            "alias-card-3 alias-card-4 alias-card-4 alias-card-5"
        ;
        gap: var(--spacing-l);
    }

    #card-1 {
        grid-area: alias-card-1;
    }

    #card-2 {
        grid-area: alias-card-2;
    }

    #card-3 {
        grid-area: alias-card-3;
    }

    #card-4 {
        grid-area: alias-card-4;
    }

    #card-5 {
        grid-area: alias-card-5;
    }

    /* CARD MISCELLANEOUS */

    .quotation {
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 10%;
    }
}